* {
  box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #494B68;
    color: rgba(211, 211, 211, 0.776);
    font-family: 'Lora, serif';
}

